*{
    padding: 0;
    margin: 0;
}
header{
background-color: red;
}
.container{

}
.logo{

}
.logo img{

}
.nav{

}
.nav ul{

}
.nav ul li{

}
.btn{

}
.btn button{
    
}